<article th:fragment="series-poster">
  <img class="object-contain rounded-sm border" th:src="'https://artworks.thetvdb.com' + ${series.image}">
</article>

<div th:fragment="review-info-bar" class="flex flex-row text-sm gap-2">
  <a th:if="${reviewType == 'review-solo'}" th:href="@{/members/{username}(username=${review.author.username})}">
    <img th:if="${review.author.avatar != null}" class="w-6 h-6 rounded-full" th:href="${review.author.avatar}">
    <div th:if="${review.author.avatar == null}" class="w-6 h-6 bg-[#1f282f] rounded-full"></div>
  </a>
  <a th:if="${reviewType != 'member'}" th:href="@{/reviews/{id}(id=${review.id})}" class="text-[#667788]">Review by</a>
  <a th:if="${reviewType != 'member'}" th:href="@{/members/{username}(username=${review.author.username})}" th:text="${review.author.username}" class="font-bold text-[#bbccdd]">Author</a>
  <span class="flex flex-row items-center text-[#00c030] *:w-4 *:h-4">
    <th:block th:if="${review.rating >= 1}" th:each="i : ${#numbers.sequence(1, review.rating.intValue())}">
      <svg th:replace="~{fragments/icons :: full-star-ic}"></svg>
    </th:block>
    <span th:if="${review.rating % 1 != 0}" class="self-start">½</span>
  </span>
  <span th:if="${review.liked}" class="flex flex-row items-center *:inline *:size-4 *:text-[#ff9010]">
    <svg th:replace="~{fragments/icons :: like-heart-ic}"></svg>
  </span>
  <a th:if="${reviewType != 'review-solo' and !#lists.isEmpty(review.comments)}" th:href="@{/reviews/{reviewId}#comments(reviewId=${review.id})}" class="flex flex-row items-center gap-1">
    <svg th:replace="~{fragments/icons :: comment-ic}"></svg>
    <span class="text-[#667788]" th:text="${review.comments.size()}"></span>
  </a>
</div>

<div th:fragment="review-content">
  <details th:if="${review.isSpoiler}" class="group mt-2 font-serif text-[#99aabb]">
    <summary class="pointer-events-none italic list-none mb-4">
      <span class="pointer-events-none">This review may contains spoilers. </span>
      <span class="pointer-events-auto cursor-pointer text-[#ddeeff] hover:text-[#40bcf4] group-open:hidden">I can handle the truth.</span>
    </summary>
    <p th:utext="${review.content}">Spoiler content</p>
  </details>
  <p th:unless="${review.isSpoiler}" th:utext="${review.content}" class="font-serif mt-4 text-[#99aabb]">Review content</p>
</div>

<div th:fragment="review-like-bar" class="flex flex-row gap-2 text-sm mt-4">
  <form sec:authorize="isAuthenticated()" th:action="@{/reviews/{id}/{like}(id=${review.id}, like=${#sets.contains(review.likes, #authentication.principal)}? unlike : like)}" method="POST">
    <button type="submit" class="flex flex-row gap-1 font-bold cursor-pointer" th:classappend="${#sets.contains(review.likes, #authentication.principal)} ? 'text-white' : 'text-[#778899]'">
      <span class="flex flex-row items-center *:inline *:size-4" th:classappend="${#sets.contains(review.likes, #authentication.principal)} ? '*:text-[#ff9010]'">
        <svg th:replace="~{fragments/icons :: like-heart-ic}"></svg>
      </span>
      <span th:if="${not #sets.contains(review.likes, #authentication.principal)}" class="hover:text-[#aabbcc]">Like review</span>
      <span th:unless="${not #sets.contains(review.likes, #authentication.principal)}" class="hover:text-[#aabbcc]">Liked</span>
    </button>
  </form>
  <span sec:authorize="isAnonymous()" class="flex flex-row items-center *:inline *:size-4">
    <svg th:replace="~{fragments/icons :: like-heart-ic}"></svg>
  </span>
  <a th:text="|${review.likes.size()} likes|" class="text-[#778899]"></a>
</div>

<article th:fragment="review (reviewType)">
  <div class="flex flex-row gap-5">
    <a th:if="${reviewType} == 'member' or ${reviewType} == 'review-list'" th:href="@{/series/{slug}(slug=${review.series.slug})}" class="shrink-0">
      <img th:if="${review.series.image != null}" th:src="'https://artworks.thetvdb.com' + ${review.series.image}" class="top-3 w-[70px] h-[103px] object-contain rounded-sm border shadow-lg/50">
      <div th:unless="${review.series.image != null}" class="w-[70px] h-[103px] bg-[#1f282f] rounded-sm border shadow-lg/50"></div>
    </a>
    <div class="flex flex-col">
      <h2 th:if="${reviewType != 'series'}" class="flex flex-row mb-3 items-end">
        <a th:href="@{/reviews/{id}(id=${review.id})}" th:text="${review.series.name}" class="text-2xl font-serif font-bold text-white">Series</a>
        <a th:text="${review.series.year}" class="ml-2 text-lg font-light text-[#bbccdd]">Year</a>
      </h2>
      <div th:replace="~{fragments/list-items :: review-info-bar}"></div>
      <div th:replace="~{fragments/list-items :: review-content}"></div>
      <div th:replace="~{fragments/list-items :: review-like-bar}"></div>
    </div>
  </div>
</article>

<article th:fragment="member">
  <div class="flex flex-row gap-5 justify-between">
    <div class="flex flex-row gap-3">
      <a th:href="@{/members/{username}(username=${member.username})}" class="shrink-0">
        <img th:if="${member.avatar != null}" class="w-10 h-10 rounded-full" th:href="${member.avatar}">
        <div th:if="${member.avatar == null}" class="w-10 h-10 bg-[#1f282f] rounded-full"></div>
      </a>
      <div class="flex flex-col">
        <h3>
          <a th:href="@{/members/{username}(username=${member.username})}" th:text="${member.username}" class="font-bold text-white">Username</a>
        </h3>
        <span th:text="|${#sets.size(member.reviews)} reviews|" class="text-xs"></span>
        <span th:text="|${#sets.size(member.followingMembers)} followers|" class="text-xs"></span>
      </div>
    </div>
    <div>
      <p th:if="${principalMembers != null}" th:text="${#authentication.principal.followingMembers}"></p>
      <form sec:authorize="isAuthenticated()" th:unless="${#authentication.name == member.username}" th:action="@{/members/{username}/unfollow(username=${member.username})}" method="POST" class="flex flex-row gap-3">
        <div><input th:if="${principalMembers != null and #sets.contains(principalMember.followingMembers, member)}" th:formaction="@{/members/{username}/unfollow(username=${member.username})}" type="submit" value="UNFOLLOW" class="px-2 py-1 rounded-sm text-sm font-mono font-bold bg-[#556677] text-[#c8d4e0] inset-shadow-2xs/30 inset-shadow-white hover:text-white hover:bg-[#667788]"/></div>
        <div><input th:unless="${principalMembers != null and #sets.contains(principalMember.followingMembers, member)}" th:formaction="@{/members/{username}/follow(username=${member.username})}" type="submit"value="FOLLOW" class="px-2 py-1 rounded-sm text-sm font-mono font-bold bg-[#556677] text-[#c8d4e0] inset-shadow-2xs/30 inset-shadow-white hover:text-white hover:bg-[#667788]"/></div>
        <span th:if="${principalMembers != null and #sets.contains(principalMember.membersFollowed, member)}">Follows you</span>
      </form>
    </div>
  </div>
</article>