<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Caught up!</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet">
  </head>
  <body class="flex flex-col min-h-dvh font-sans text-[#aabbcc] z-0">
    <header class="w-full bg-[#14181c]">
      <nav th:replace="(~{navbar :: navbar})"></nav>
    </header>
    <main class="flex-1 bg-[#14181c] z-1">
      <div class="absolute w-full aspect-video bg-linear-to-b from-[#1e252c] to-[#14181c] to-30% z-2"></div>
      <div layout:fragment="content" class="relative w-[93%] lg:w-[950px] mx-auto z-10"></div>
    </main>
  </body>
</html>
