<div th:fragment="footer" class="w-full py-4 px-2 mx-auto lg:w-[950px] lg:flex lg:items-center lg:justify-between text-[#aabbcc] text-xs lg:text-sm">
    <span><a th:href="@{/}" class="hover:underline">Caught Up!</a> For demonstration purposes only. Series data from <a href="https://www.thetvdb.com" class="hover:underline">TheTVDB</a></span>
    <ul class="flex flex-row items-center mt-1 gap-3 font-semibold">
        <li>
            <a th:href="@{/about}" class="hover:underline">About</a>
        </li>
        <li>
            <a th:href="@{/legal}" class="hover:underline">Disclaimer</a>
        </li>
    </ul>
</div>