<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
  layout:decorate="~{base}">
  <head>
    <title>Post Review</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="flex flex-col gap-10">
        <div id="series-selector" th:insert="~{fragments/components :: series-search-bar (new-review)}"></div>
        <div id="review-form" class="empty:hidden"></div>
      </div>
    </div>
  </body>
</html>