<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
  layout:decorate="~{base}">
  <head>
    <title>Create account</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div id="acknowledge" class="fixed top-0 left-0 target:hidden group/acknowledge z-3">
        <div class="w-screen h-screen items-center justify-center z-20 bg-[#1f282f]/75"></div>
        <div class="fixed top-1/2 left-1/2 -translate-1/2 w-full lg:max-w-[950px] max-w-9/10">
          <div class="flex flex-col p-2 rounded-sm bg-[#445566]">
            <div th:replace="~{legal :: disclaimer}"></div>
            <a href="#acknowledge" class="bg-[#00ac1c] hover:bg-[#009d1a] active:bg-[#009318] text-white font-mono font-semibold align-center px-3 py-1 rounded-sm inset-shadow-2xs/30 inset-shadow-white">Accept</a>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div class="flex flex-col pt-5 mt-10 rounded-lg bg-[#445566]">
          <div class="grid p-5 gap-5">
            <h1 class="w-full text-3xl text-white font-bold text-center">Create account</h1>
            <p class="w-full text-center">
              <span>Already have an account?</span>
              <a th:href="@{/sign-in}" class="text-[#ddeeff] hover:text-[#40bcf4]">Sign in instead</a>
            </p>
          </div>
          <form th:action="@{/create-account}" th:object="${user}" method="POST" enctype="utf8">
            <div class="flex flex-col p-5 gap-5">
              <p th:if="${exception != null}" th:text="${exception.getMessage()}">Exception</p>
              <div class="flex flex-col">
                <label for="email" th:class="${#fields.hasErrors('email')} ? 'text-[#ee7000]' : ''">Email</label>
                <input id="email" type="email" th:field="*{email}" required th:classappend="${#fields.hasErrors('email')} ? 'border-[#ee7000]' : ''" class="border rounded-sm p-1 text-[#556677] bg-[#ccddee] focus:bg-white focus:text-[#223344]"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-[#ee7000]">Validation error</p>
              </div>
              <div class="flex flex-col">
                <label for="username" th:class="${#fields.hasErrors('username')} ? 'text-[#ee7000]' : ''">Username</label>
                <input id="username" th:field="*{username}" required th:classappend="${#fields.hasErrors('username')} ? 'border-[#ee7000]' : ''" class="border rounded-sm p-1 text-[#556677] bg-[#ccddee] focus:bg-white focus:text-[#223344]"/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-[#ee7000]">Validation error</p>
              </div>
              <div class="flex flex-col">
                <label for="password" th:class="${#fields.hasErrors('confirmPassword')} ? 'text-[#ee7000]' : ''">Password</label>
                <input id="password" type="password" th:field="*{password}" required th:classappend="${#fields.hasErrors('confirmPassword')} ? 'border-[#ee7000]' : ''" class="border rounded-sm p-1 text-[#556677] bg-[#ccddee] focus:bg-white focus:text-[#223344]"/>
                <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-[#ee7000]">Validation error</p>
              </div>
              <div class="flex flex-col">
                <label for="confirmPassword" th:class="${#fields.hasErrors('confirmPassword')} ? 'text-[#ee7000]' : ''">Confirm password</label>
                <input id="confirmPassword" type="password" th:field="*{confirmPassword}" required th:classappend="${#fields.hasErrors('confirmPassword')} ? 'border-[#ee7000]' : ''" class="border rounded-sm p-1 text-[#556677] bg-[#ccddee] focus:bg-white focus:text-[#223344]"/>
                <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-[#ee7000]">Validation error</p>
              </div>
            </div>
            <input type="submit" value="CREATE ACCOUNT" class="w-full p-2 font-mono font-bold rounded-b-lg cursor-pointer transition duration-150 bg-[#00ac1c] hover:bg-[#009d1a] text-white inset-shadow-2xs/30 inset-shadow-white"/>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>