<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <title>Popular reviews | Caught up!</title>
  </head>
  <body>
    <h1>Popular reviews</h1>
    <section th:fragment="reviews" th:each="review : ${reviews}">
        <div th:insert="(~{review :: review})"></div>
    </section>
    <div><a th:href="@{/post-review}">Post new review</a></div>
    <div><a th:href="@{/}">Home</a></div>
  </body>
</html>