<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base}">
  <head>
    <title>Account Settings</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1 class="pt-5 font-light text-3xl text-[#99aabb]">Account Settings</h1>
      <div class="flex flex-col divide-y divide-[#445566] gap-3 pt-5">
        <div class="flex flex-row py-1 justify-between items-end">
          <div class="flex flex-row py-1 justify-between items-end">
            <h1 class="font-light text-xl text-white">Profile</h1>
          </div>
          <div class="flex flex-row gap-3 items-end">

          </div>
        </div>
        <div class="flex flex-col gap-5 divide-y divide-[#2c3440]">
          <form th:action="@{/settings}" th:object="${profileDto}" method="POST" enctype="utf8">
            <div class="grid grid-cols-2">
              <div class="flex flex-col gap-5">
                <div class="grid grid-cols-2 gap-5">
                  <div class="flex flex-col">
                    <label for="firstName" class="text-sm text-white mb-1">First Name</label>
                    <input id="firstName" type="text" th:field="*{firstName}" class="rounded-sm px-2 pt-1 pb-2 text-[#8899aa] bg-[#2c3440] focus:bg-white focus:text-[#223344]"/>
                    <p th:each="error : ${#fields.errors('firstName')}" 
                      th:text="${error}">Validation error</p>
                  </div>
                  <div class="flex flex-col">
                    <label for="lastName" class="text-sm text-white mb-1">Last Name</label>
                    <input id="lastName" type="text" th:field="*{lastName}" class="rounded-sm px-2 pt-1 pb-2 text-[#8899aa] bg-[#2c3440] focus:bg-white focus:text-[#223344]"/>
                    <p th:each="error : ${#fields.errors('lastName')}" 
                      th:text="${error}">Validation error</p>
                  </div>
                </div>
                <div class="flex flex-col">
                  <label for="bio" class="text-sm text-white mb-1">Bio</label>
                  <textarea id="bio" th:field="*{bio}" rows="5" class="rounded-sm px-2 pt-1 pb-2 text-[#8899aa] bg-[#2c3440] focus:bg-white focus:text-[#223344]"/>
                  <p th:each="error : ${#fields.errors('bio')}" 
                    th:text="${error}">Validation error</p>
                </div>
                <div class="grid grid-cols-2 gap-5">
                  <div class="flex flex-col">
                    <label for="location" class="text-sm text-white mb-1">Location</label>
                    <input id="location" type="text" th:field="*{location}" class="rounded-sm px-2 pt-1 pb-2 text-[#8899aa] bg-[#2c3440] focus:bg-white focus:text-[#223344]"/>
                    <p th:each="error : ${#fields.errors('location')}" 
                      th:text="${error}">Validation error</p>
                  </div>
                  <div class="flex flex-col">
                    <label for="website" class="text-sm text-white mb-1">Website</label>
                    <input id="website" type="text" th:field="*{website}" class="rounded-sm px-2 pt-1 pb-2 text-[#8899aa] bg-[#2c3440] focus:bg-white focus:text-[#223344]"/>
                    <p th:each="error : ${#fields.errors('website')}" 
                      th:text="${error}">Validation error</p>
                  </div>
                </div>
                <div>
                  <input type="submit" value="SAVE CHANGES" class="px-3 py-1 font-mono font-bold rounded-sm cursor-pointer transition duration-150 bg-[#00ac1c] hover:bg-[#009d1a] text-white inset-shadow-2xs/30 inset-shadow-white"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>